<!--The content below is only a placeholder and can be replaced.-->
<!-- Begin Header -->
<header>
    <mat-toolbar color="primary" class="app-toolbar">
        <nav class="header-container" fxFlex>
            <a class="header-logo" fxFlex fxLayoutAlign="space-around center" [routerLink]="['/']">
            <img src="assets/images/logo.svg" alt="Kovan Logo">
            </a>
            <span fxFlex fxLayoutAlign="center center" fxLayoutGap="15px">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
                    Products
                </a>
                <a [routerLink]="['/cart']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span matBadgeColor="accent" matBadge="{{ cartItemCount }}" matBadgeOverlap="false">Cart</span>
                </a>
            </span>
        </nav>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li>
                <div fxLayout="column" fxLayoutGap="10px">
                    <span>Contact Us:</span>
                    <code>Tidel Park, GF44, Coimbatore, Tamil Nadu 641014.</code>
                </div>
            </li>
            <li>
                <div fxLayout="column" fxLayoutGap="10px">
                    <span>Return Policy:</span>
                    <code>Lorem ipsum dolor sit amet consectetur adipisicing elit.</code>
                </div>
            </li>
            <li>&copy; 2020 Copyright Kovan Labs</li>
        </ul>
    </section>
</footer>
